*.version
src/redets_kv_version.hrl
rel/pkg/*.gz
rel/pkg/*.tar
gproc_*
.eunit
ebin
db
deps
logs
*~
#*
.DS_Store
Mnesia.*
erl_crash.dump
*.beam
standalone.config
rel/redets_kv
rel/redets_kv.tar.bz2
/rebar
/doc/
/dev
/log
/rel/vars/dev*_vars.config
/.redets_kv.plt